/*General*/
@font-face {
    font-family: 'YourFontName';
    /*a name to be used later*/
    src: url('../premier-free-style-db.ttf') format('truetype');
    /*URL to font*/
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    margin: 0px;
    color: goldenrod;
    font-family: 'YourFontName';
    overflow-x: hidden;
    background-color: cornsilk;
}

#openclose {
    /*font-family: Arial, Helvetica, sans-serif;*/
    -webkit-text-size-adjust: 100%;
    user-select: none;
    cursor: pointer;
    position: fixed;
    right: 0px;
    width: 15vw;
    height: 15vw;
    font-size: 15vw;
    z-index: 4;
    color: white;
    background-color: rgb(119, 137, 242);
    text-align: center;
    line-height: 15vw;
}

img {
    fill: rgb(119, 137, 242);
}

/*Navigation*/
#navigation {
    position: absolute;
    top: 120vh;
    right: 0;
    background-color: rgb(119, 137, 242);
    padding: 1rem;
}

a {
    -webkit-text-size-adjust: 100%;
    font-size: 2rem;
    color: white;
}

br {
    margin-bottom: 2rem;
}

/*Header*/
#header {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    background-color: rgb(119, 137, 242);
    width: 100vw;
    height: 100vh;
    justify-content: center;

}

#header_content {
    align-self: center;
    text-align: center;
}

#header_image {
    height: 56vh;
}

#header_text_left {
    width: 28%;
    z-index: 2;
    margin: 1vw;
    text-align: right;
    direction: rtl;
}

#header_text_right {
    width: 28%;
    z-index: 2;
    margin: 1vw;
    text-align: left;
}

#header_content_logo {
    width: 85vw;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19vh;
}

#header_headline {
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    font-weight: bold;
    width: 90%;
    font-size: 5vh;
}

#header_headlines {}

/*Main*/
#main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
}

#main_content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-self: left;
    width: 70%;
    height: 100%;
}

#main_header {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/*Imprint*/
#imprint {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(119, 137, 242);
    color: darkblue;
    text-align: center;
    justify-content: center;
    padding: 2rem;
}

#imprint_contact {
    align-self: center;
    font-size: 1.5rem;
}

#imprint_image {
    width: 15rem;
}

#imprint_line {
    margin-bottom: 0.5rem;
}