@media (max-aspect-ratio: 3/2) {
    #header_content_logo {
        font-size: 15vh;
    }
}

@media (max-aspect-ratio: 4/3) {
    #header_content_logo {
        font-size: 11vh;
    }
}

@media(orientation: landscape) {
    #openclose{
        display: none;
    }
}

@media(orientation: portrait) {
    #navigation {
        padding: 0rem;
        position: fixed;
        display: none;
        flex-direction: column;
        justify-content:space-around;
        padding: 10%;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 3;
    }

    #main_header {
        font-size: 4vh;
    }

    #main_underheader {
        font-size: 3vh;
        text-align: center;
    }

    #header_content {
        height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    #header_image {
        position: absolute;
        height: auto;
        width: 80vw;
        top: 1vh;
    }

    #header_content_logo {
        height: 50vh;
        font-size: 22vw;
        width: 100vw;
    }

    #header_text_left {
        align-self: center;
        width: 50vw;
    }

    #header_text_right {
        align-self: center;
        width: 50vw;
    }

    #imprint_image {
        display: none;
    }

    @media (min-aspect-ratio: 2/3) {
        #header_headline {
            font-size: 3vh;
        }

        #header_headlines {
            margin-top: auto;
            margin-bottom: 20vh;
        }
    }
}



/*TODO Streifen rechts auf mobile*/