#main_header {
    margin-left: auto;
    margin-right: auto;
}

#main_underheader {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    font-weight: bold;
    font-size: 2.5rem;
}

#main_content {
    justify-content: space-evenly;
    align-self: center;
    text-align: center;
}

#main_content_item {
    color: goldenrod;
    text-decoration: none;
    width: min-content;
    font-size: 2rem;
    margin: 1rem;
    padding: 0.5rem;
}

#main_content_item_image {
    margin-top: 1rem;
    width: 18vw;
}