#main {
    font-size: 2rem;
    color: darkblue;
    align-items: center;
}

#main_header {
    display: flex;
    width:70%;
    color: goldenrod;
    margin-top: 5vw;
}

#main_content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}