@media(orientation: portrait) {
    #main {
        font-size: 1rem;
        min-height: max-content;
    }

    td {
        font-size: 1rem;
    }

    br {
        display: block;
        content: "";
        margin-top: -1rem;
    }
}