#main_header {
    margin-left: auto;
    margin-right: auto;
}

#main_content2{
    width: 100%;
}
#main_content2_header {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

#amin_content2_text {
    color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 1rem;
    margin-bottom: 2rem;
}

#main_content_item {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: 2rem;
    color: darkblue;
}

#main_content_item_image {
    float: left;
    margin-top: 0rem;
    width: 50vw;
    height: auto;
}
#main_content_item_image_image{
    width: 40%;
    margin-right: 5%;
    height: auto;/*mobile Bild proportionen fixxen*/
    float: left;
}

#main_content_item_text {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    width: 50%;
}

#main_content_item_text_helper {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    vertical-align: middle;
}
#main_content{
    align-items: center;
    justify-content: center;
}

#main{
    align-items: center;
}