#main_content2_header {
    font-style: italic;
    font-weight: bold;
    text-align: left;
    margin-top: 1.5rem;
    font-size: 2rem;
}

#main_content2_text {
    margin-right: calc(260px + 1rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;
    text-align: left;
    font-size: 2rem;
}

#main_content2_item_texts {
    margin-left: 2rem;
}

#main_content2_item {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
}

#main_content2_item_image {
    margin-left: 2rem;
    margin-top: 4.8rem;
    width: 20vw;
    height: min-content;
}

#main_content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-self: left;
    width: 70%;
    height: 100%;
}