td {
    vertical-align: top;
    padding-bottom: 1rem;
    color: darkblue;
    font-family: verdana;
    font-size: 2rem;
}

table td:nth-child(2) {
    padding-left: 4rem;
}

#main {
    font-size: 2rem;
    color: darkblue;
    font-family: verdana;
    width: 80%;
    align-items: center;

}

#main_header {
    font-family: 'YourFontName';
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    color: goldenrod;
    margin-bottom: 1.5rem;
}

#krimage {
    width: 30rem;
}