@media(orientation: portrait) {
    td{
        font-size: 1rem;
    }
    #main_content{
        font-size: 2.5vh;
    }

    #main_content_year{
        margin-left: auto;
        margin-right: auto;
    }
}